<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v7.0.0/css/all.css">

<header>
    <div class="head_container">
        <div class="header_left">
            <a>
                <div class="logo"><img src="../static/img/test_logo.png"></div>
            </a>
            <div>
                <ul class="list">
                    <li><a href="#">드라마</a></li>
                    <li><a href="#">예능</a></li>
                    <li><a href="#">영화</a></li>
                    <li><a href="#">스릴러</a></li>
                    <li><a href="#">애니</a></li>
                </ul>
            </div>
        </div>

        <div class="header_right">
            <div id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="search_box" class="search_box">
            </div>
            <div>
            <a href="#">로그인 / 회원가입</a>
            </div>
        </div>

    </div>
</header>

<body>

</body>

<footer></footer>

</html>